rules_version = '2';

service firebase.storage {
  match /b/{bucket}/o {
    // Permet uniquement aux utilisateurs authentifiés de lire et d'écrire
    match /{allPaths=**} {
      allow read, write: if request.auth != null; // Utilisateurs authentifiés seulement
    }
  }
}
